<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiscomCFDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="SiscomCFDI.Properties.Settings.siscomsoftCFDIConnectionString"
            connectionString="Data Source=WEBDEV-PC\SQLEXPRESS;Initial Catalog=siscomsoftCFDI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SiscomCFDI.Properties.Settings.POSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\SisCom Pos\BD\POS.MDB&quot;"
            providerName="System.Data.OleDb" />
        <add name="SiscomCFDI.Properties.Settings.cfdiConnectionString"
            connectionString="server=localhost;User Id=root;password=123;Persist Security Info=True;database=cfdi"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SiscomCFDI.Properties.Settings>
            <setting name="SiscomCFDI_mx_com_cfdinova_www_TimbradorIntegradores"
                serializeAs="String">
                <value>http://www.cfdinova.com.mx:59080/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpSoap11Endpoint/</value>
            </setting>
            <setting name="SiscomCFDI_mx_com_cfdinova_pruebas_TimbradorIntegradores"
                serializeAs="String">
                <value>https://pruebas.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap11Endpoint/</value>
            </setting>
            <setting name="SiscomCFDI_mx_com_tusfacturas_www_TimbradorIntegradores"
                serializeAs="String">
                <value>https://www.tusfacturas.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap11Endpoint/</value>
            </setting>
            <setting name="SiscomCFDI_mx_com_cfdinova_test02_TimbradorIntegradores"
                serializeAs="String">
                <value>https://test02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap11Endpoint/</value>
            </setting>
        </SiscomCFDI.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimbradorIntegradoresSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="TimbradorIntegradoresSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TimbradorIntegradoresSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://lb04.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradorIntegradoresSoap11Binding"
                contract="cfdinova_produccion.TimbradorIntegradoresPortType"
                name="TimbradorIntegradoresHttpsSoap11Endpoint" />
            <endpoint address="http://lb02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradorIntegradoresSoap11Binding1"
                contract="cfdinova_produccion.TimbradorIntegradoresPortType"
                name="TimbradorIntegradoresHttpSoap11Endpoint" />
            <endpoint address="http://lb02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradorIntegradoresSoap12Binding"
                contract="cfdinova_produccion.TimbradorIntegradoresPortType"
                name="TimbradorIntegradoresHttpSoap12Endpoint" />
            <endpoint address="https://lb04.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradorIntegradoresSoap12Binding"
                contract="cfdinova_produccion.TimbradorIntegradoresPortType"
                name="TimbradorIntegradoresHttpsSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>